<script>
$(document).ready(function() {
	$("#home input").first().attr("placeholder", "検索：市区郡");

	Blackout.onNameFound = function(prefecture, locality, sublocality) {
		if (prefecture != null && locality != null && sublocality != null && sublocality != "") {
			$.mobile.changePage("/" + prefecture + "/" + locality + "/" + sublocality, "slide", false, true);
		}
	};

	Blackout.onNameNotFound = function() {
	};

	Blackout.onLocationFound = function(location) {
		var lat = location.coords.latitude;
		var lng = location.coords.longitude;
		Blackout.findNameByLocation(lat, lng);
	};

	$("#GPS").click(function(){ Blackout.findCurrentLocation(); return false; });
});
</script>

<div data-role="page" id="home">
	<div data-role="header">
		<a href="/" rel="external" class="ui-btn-left" data-icon="back">都道府県</a>
		<h1>計画停電</h1>
		<a id="GPS" href="" class="ui-btn-right">Use GPS</a>
	</div>

	<div data-role="content">
		<ul role="listbox" data-role="listview" id="city" data-filter="true">
			<% @cities.each do |c| %>
			<li id="l-<%=  CGI.escape(c)  %>"><a href="/<%= CGI.escape(@prefecture) %>/<%= CGI.escape(c) %>"><%= c %></a></li>
			<% end %>
		</ul>
	</div>
	
	<div data-role="footer">
		<h5>Powered by Ignition Soft</h5>
	</div>
</div>
